<div id="<%= dom_id apointment_type %>">
  <%= link_to edit_apointment_type_path(apointment_type), class: "p-6 border shadow-xl rounded-xl block hover:shadow-lg transition esa-in duration-300 relative overflow-hidden" do %>
    <div class="h-1 w-full absolute top-0 left-0 right-0" style="background-color: <%= apointment_type.color %>"></div>
    <h3 class="font-medium text-2xl"><%= apointment_type.name %></h3>
    <p class="text-gray-500">View apointment page</p>
    <p><%= duration(apointment_type) %></p>

    <% if apointment_type.payment_required? %>
      <div class="mt-3 pt-3 border-t">
        <p>
          <strong>Payment required</strong>
        </p>
        <p>
          <strong>Price:</strong>
          <%= number_to_currency(apointment_type.price) %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
