<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Apointment</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to apointments_path, class: button_class(theme: "transparent") do %>
      All Apointments
      <% end %>
      <%= link_to edit_apointment_path(@apointment), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Status:</p>
        <p><%= @apointment.status %></p>
      </li>
      <li>
        <p class="font-semibold">First name:</p>
        <p><%= @apointment.first_name %></p>
      </li>
      <li>
        <p class="font-semibold">Last name:</p>
        <p><%= @apointment.last_name %></p>
      </li>
      <li>
        <p class="font-semibold">Email:</p>
        <p><%= @apointment.email %></p>
      </li>
      <li>
        <p class="font-semibold">Start at:</p>
        <p><%= @apointment.start_at %></p>
      </li>
      <li>
        <p class="font-semibold">End at:</p>
        <p><%= @apointment.end_at %></p>
      </li>
  </ul>
</div>
